@import "tailwindcss";

:root {
  --background: #ffb6c1;
  --foreground: #4a2c2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffb6c1;
    --foreground: #4a2c2a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Press Start 2P", monospace;
}
